Django
django-heroku
djangorestframework
gunicorn
numpy
pandas
pipwin
psycopg2
pyparsing
pypiwin32
pytest
python-dateutil
pytz
PyVirtualDisplay
pywin32==227
pywinpty
pyzmq
requests
requests-unixsocket
tzdata
tzlocal
uritemplate
urllib3
utils
virtualenv
wcwidth
webargs
webencodings
websocket-client
Werkzeug
whitenoise

